<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="MidtermApp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">   <!-- REQUIRED -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProductActivity"
            android:exported="false" />

        <activity
            android:name=".MyCartActivity"
            android:exported="false" />

        <activity
            android:name=".SuccessActivity"
            android:exported="false" />

    </application>
</manifest>


